<section>
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5>{{ user.firstName }} {{ user.lastName }}</h5>
        <button class="btn btn-primary" (click)="openUserModal()" *appIsAdmin>
          Edit User
        </button>
      </div>
      <div>
        {{ user.email }}
      </div>
      <div>Role: {{ user.isAdmin ? "Admin" : "Basic" }}</div>
      <div>Enabled: {{ user.enabled ? "Yes" : "No" }}</div>
    </div>
  </div>

  <app-user-project-list
    [projects]="projects"
    [projectUsers]="projectUsers"
  ></app-user-project-list>
</section>
