<section>
  <div class="modal-header">
    <h4 class="modal-title">Filter Time Entries</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    ></button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="timeEntryFilterForm"
      (ngSubmit)="submitHandler()"
      id="timeEntryForm"
    >
      <div class="mb-3" *ngIf="source === 'admin'">
        <label for="userId" class="form-label">User</label>
        <select class="form-control" id="userId" formControlName="userId">
          <option value=""></option>
          <option *ngFor="let user of users" value="{{ user.id }}">
            {{ user.firstName }} {{ user.lastName }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label">Project</label>
        <select class="form-control" id="projectId" formControlName="projectId">
          <option value=""></option>
          <option *ngFor="let project of projects" value="{{ project.id }}">
            {{ project.name }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="startDate">Start Date</label>
        <input
          class="form-control"
          id="startDate"
          formControlName="startDate"
          bsDatepicker
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="endDate">End Date</label>
        <input
          class="form-control"
          id="endDate"
          formControlName="endDate"
          bsDatepicker
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="entryNotes">Entry Notes</label>
        <input
          class="form-control"
          id="entryNotes"
          formControlName="entryNotes"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary-light"
      (click)="bsModalRef.hide()"
    >
      Close
    </button>
    <button type="button" class="btn btn-warning" (click)="clearHandler()">
      Clear
    </button>
    <button type="submit" class="btn btn-primary" form="timeEntryForm">
      Submit
    </button>
  </div>
</section>
