<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <header class="container-fluid justify-content-between">
    <a class="navbar-brand" routerLink="/">Tense Lite</a>
    <ul
      class="navbar-nav m-auto mb-2 mb-md-0"
      *ngIf="authenticated"
    >
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          href="#"
          [routerLink]="['/time-entries']"
          routerLinkActive="active"
          >Time Entries</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['/projects']"
          routerLinkActive="active"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['/users']"
          routerLinkActive="active"
          >Users</a
        >
      </li>
    </ul>
    <!-- UNAUTHENTICATED -->
    
      <section *ngIf="authenticated; else unauthenticated">
        <button type="button" class="btn btn-primary" (click)="logout()">
          Logout
        </button>
      </section>
      <ng-template #unauthenticated>
        <section>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            routerLink="/login"
          >
            Login
          </button>
          <button type="button" class="btn btn-primary" routerLink="/register">
            Register
          </button>
        </section>
      </ng-template>
  </header>
</nav>
