<section>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">TIME ENTRIES</h5>
        <div>
          <button
            class="btn btn-outline-primary me-2"
            (click)="openTimeEntryFilter()"
          >
            <i class="bi bi-tornado"></i> Filter
          </button>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">
              User{{ (criteria | isFilteredField: ["userId"]) ? "*" : "" }}
            </th>
            <th scope="col">
              Entry Date{{
                (criteria | isFilteredField: ["startDate", "endDate"])
                  ? "*"
                  : ""
              }}
            </th>
            <th scope="col">
              Project{{
                (criteria | isFilteredField: ["projectId"]) ? "*" : ""
              }}
            </th>
            <th scope="col">Hours</th>
            <th scope="col">
              Entry Notes{{
                (criteria | isFilteredField: ["entryNotes"]) ? "*" : ""
              }}
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeEntry of timeEntries; index as i">
            <th scope="row">{{ timeEntry.id }}</th>
            <td>{{ timeEntry.userId | userFullName: users }}</td>
            <td>{{ timeEntry.entryDate | date }}</td>
            <td>{{ timeEntry.projectId | projectName: projects }}</td>
            <td>{{ timeEntry.hours }}</td>
            <td>{{ timeEntry.entryNotes }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-primary btn-sm"
                (click)="openTimeEntryEditModal(timeEntry)"
              >
                <i class="bi bi-pencil-fill"></i>
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteTimeEntry(timeEntry)"
              >
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
