<section>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">Users</h5>
        <button class="btn btn-primary" (click)="openUserModal()" *appIsAdmin>
          + New User
        </button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Admin</th>
            <th scope="col">Enabled</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let user of users; index as i"
            [routerLink]="['/users', user.id]"
            class="clickable"
          >
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
              <i
                *ngIf="user.isAdmin"
                class="bi bi-lightning-charge-fill"
              ></i>
            </td>
            <td>
              <i
                *ngIf="user.enabled"
                class="bi bi-wind"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
