<section>
  <button class="btn btn-primary" (click)="openUserModal()">+ New User</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users; index as i"
        [routerLink]="['/users', user.id]"
        class="clickable"
      >
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <i
            *ngIf="user.isAdmin"
            class="bi bi-lightning-charge-fill text-primary"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</section>
